<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sy.banking.auth.mapper.UserMapper">

    <select id="getUser" resultType="com.sy.banking.domain.dto.UserDto">
        SELECT *
        FROM users
        WHERE userId = #{userId}
    </select>

    <insert id="addUser" parameterType="com.sy.banking.domain.item.UserItem" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users(email, password, name, user_Role)
        VALUES (#{user.email}, #{user.password}, #{user.name}, #{user.user_Role})
    </insert>

    <select id="countByuserId" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM users WHERE userId = #{userId}
    </select>

    <select id="countByemail" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM users WHERE email = #{email}
    </select>

    <!-- Optional<UserItem> findByEmail(@Param("email") String email); -->
     <select id="findByEmail" resultType="com.sy.banking.domain.item.UserItem">
        SELECT *
        FROM users
        WHERE email = #{email}
     </select>
</mapper>